<html>
  <body>
    <div style="height:100px"></div>
    <div style="width:500px;margin:auto">
    <span style="font-family: Courier New;">1&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">def&nbspfetch_forty_two():</span><br>
    <span style="font-family: Courier New;">2&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp'''</span><br>
    <span style="font-family: Courier New;">3&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp>>>&nbspfetch_forty_two()</span><br>
    <span style="font-family: Courier New;">4&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp42</span><br>
    <span style="font-family: Courier New;">5&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp'''</span><br>
    <span style="font-family: Courier New;">6&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbspreturn&nbsp42</span><br>
    <span style="font-family: Courier New;">7&nbsp&nbsp</span><span style="font-family: Courier New;"></span><br>
    <span style="font-family: Courier New;">8&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">def&nbspfetch_forty_two_words():</span><br>
    <span style="font-family: Courier New;">9&nbsp&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp'''</span><br>
    <span style="font-family: Courier New;">10&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp>>>&nbspfetch_forty_two_words()</span><br>
    <span style="font-family: Courier New;">11&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp'forty-two'</span><br>
    <span style="font-family: Courier New;">12&nbsp</span><span style="font-family: Courier New; background-color:#a5d6a7">&nbsp&nbsp&nbsp&nbsp'''</span><br>
    <span style="font-family: Courier New;">13&nbsp</span><span style="font-family: Courier New; background-color:#ef9a9a">&nbsp&nbsp&nbsp&nbspreturn&nbsp'forty-two'</span><br>
    </div>
  </body
</html>
